*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #ccc;
}

/* toDo List style */

.todo-header {
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000000;
}

h1 {
    margin: .5rem;
    padding: 1rem;
    color: #ddd;
    font-size: 5rem;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.add-task {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
}

.add-task input {
    padding: 1rem;
    width: 70%;
    font-size: 2rem;
    border-radius: 5px;
}

.addBtn {
    padding: .2em .5em;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #c5d7ec;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;
}

.addBtn:hover {
    background-color: #81afe4;
}

.todo-body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 800px;
    background-color: #b1adad;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #5e5e5e;
}

.todo-body h2 {
    margin: .2em;
    padding: .2em;
    font-size: 3rem;
}

.warning {
    margin: .2em;
    padding: .2em;
    font-size: 1.8rem;
}

.todo-list {
    margin: 1rem;
    padding: 1rem;
    width: 95%;
    list-style: none;
}

.list-item {
    margin: 1.5rem;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: inset 2px 2px 1px #000000;
}

.tools {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    margin: 0 .2em;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000000;
}

.checkBtn {
    background-color: #c5d7ec;
    transition: background-color .3s;
}

.checkBtn:hover {
    background-color: #81afe4;
}

.editBtn {
    background-color: #b8e9c7;
    transition: background-color .3s;
}

.editBtn:hover {
    background-color: #81e49f;
}

.deleteBtn {
    background-color: #dda18f;
    transition: background-color .3s;
}

.deleteBtn:hover {
    background-color: #e2714f;
}

.fas,
.far {
    padding: .4em;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
}

/* popup style */

.popup {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 800px;
    padding: 2rem;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #000000;
}

.popup h2 {
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

.popup-warning {
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 2rem;
}

.popup-body input {
    margin: 2rem 0;
    padding: 1rem;
    width: 95%;
    font-size: 2rem;
    border-radius: 5px;
}

.btns {
    margin-top: 3rem;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup-btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .7s;
}

.accept {
    background-color: #abddba;
}

.accept:hover {
    background-color: #5ac57a;
}

.cancel {
    background-color: #d89b89;
}


.cancel:hover {
    background-color: #d86440;
}
